* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}

body.showNav {
  transform: translate(200px);
  transition: transform 0.3s ease;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: rgb(180, 31, 31);
  z-index: 100;
  padding: 20px;
  color: white;
  transform: translateX(-100%);
}

.nav-item {
  padding: 0;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  border-bottom: 1px solid #000;
}

.nav-item li {
  cursor: pointer;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: rgb(40, 40, 110);
  color: white;
}
h1 {
  margin-bottom: 20px;
}

header p {
  margin-bottom: 20px;
}

.btn {
  padding: 7px 14px;
  color: white;
  border-radius: 5px;
  border: 1px solid #464242;
  cursor: pointer;
  background-color: rgb(219, 10, 132);
}

.menu {
  position: absolute;
  top: 30px;
  left: 10px;
  height: 30px;
  width: 30px;
  background-color: rgb(5, 5, 80);
  text-align: center;
  color: white;
  font-size: 20px;
  outline: none;
  border: 0;
  cursor: pointer;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

h2 {
  margin: 25px 0;
}

.form-signup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.form-signup.showModal {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 350px;
  height: 400px;
  padding: 20px;
  animation-name: modalopen;
  animation-duration: 1s;
}

.top-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exit {
  padding: 3px 5px;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
}

.mid-form p {
  font-size: 14px;
  margin-bottom: 10px;
}

.form-control {
  margin: 10px 0;
}

.form-control label {
  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 5px;
  outline: none;
}

.bottom-form button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #000;
  margin-top: 10px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
